$pageBackground: #E0E0E0;
$darkGradientColor: #7F8185;
$lightGradientColor: #94969A;

$lightAccent: #6898C4;

$darkAccent: #324E73;
$greyLight: #ACACAC;
$greyVeryLight: #F6F6F6;
$greyDark: #010101;
$red: #DC3131;

$disabledButton: #7F8185;
$enabledButtonAccent: #324E73;
$headerDark: #05254D;

$lightGrayFont: rgb(234, 234, 234);

$hoverColor: #c7c9cd;

$darkGradient: radial-gradient(ellipse at center, #a0a2a5 5%, #76787c 100%);
$lightGradient: linear-gradient(-90deg, #FCF8F8 0%, #E3E3E3 100%);


$black: rgb(0, 0, 0);

$fontDark: #131313;
$fontMiddle: #676767;
$fontWhite: #FFFFFF;
$white: #FFFFFF;

$progressBar: #5f6063;

$blackTransparent: rgba(88, 88, 88, 0.75);

$projectBarAccent: #d2d2d2;

$hoverWhite: rgba(255, 255, 255, 0.5);
$whiteTransparent: rgba(255, 255, 255, 0.5);
$redTransparent: rgba(255, 0, 0, 0.8);

$dropDownItemHover: #F1F1F1;
$dropDownItemSeparator: /*#c1c1c1*/ $lightGrayFont;

//from citizen
$schemeRed: #DC142F;
$schemeBlue: #324E73;
$schemeDarkGrey: #374046;
$schemeDarkGrey50: rgba(55, 64, 70, 0.5);
$schemeGrey: #626B72;
$schemeLightGreyGradient: linear-gradient(-180deg, #FAFBFD 0%, #EEEFF1 65%, #F6F6F6 97%);
$schemeWhite: #FFFFFF;