$tiny: 3px;
$tinySmall: 6px;
$small: 8px;
$smallDefault: 12px;
$default: 16px;
$big: 24px;
$bigHuge: 28px;
$huge: 32px;
$extremeHuge : 64px;
$extremeExtraHuge : 80px;

$buttonHeight: 60px;
$inputHeight: 60px;
$buttonWidth: 200px;
$videoWidth: 240px;
$videoHeight: 160px;
$imageWidth: 240px;
$imageHeight: 160px;
$tableRowHeight: 60px;

$animationDuration: 200ms;

$borderRadiusStandard: 4px;
$borderRadius: 3px;

$maxWidthTablet : 1200px
